:root {
	background: light-dark(#ffffff, #23222b);
	color-scheme: light dark;
	font: message-box;
}

body {
	margin: 0;
	padding: 10px;
	font-family: system-ui, sans-serif;
}

button, input, select, textarea {
    -moz-appearance: auto;
}

input,
button {
	background: transparent;
	border: 1px solid #75747A;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 4px 6px;
}

button {
	cursor: pointer;
}

input[type="color"] {
	border: 0;
}

input[type=text] {
	font: -moz-input;
	width: 100%;
}

textarea {
	box-sizing: border-box;
	font: inherit;
	font-family: monospace;
	min-height: 100px;
	padding: 0.5em;
	width: 100%;
}

.sr {
	display: none;
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 0;
	z-index: -1;
}

section ~ section {
	margin-top: 3em;
}

table {
	border: 0;
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}


th, td, tr {
  padding: 0;
}

td,
th {
	text-align: center;
}

p:empty {
	margin: 0;
}