:root {
	background: light-dark(#ffffff, #23222b);
	color-scheme: light dark;
	font: message-box;
}

body {
	margin: 0;
	padding: 10px;
	font-family: system-ui, sans-serif;
}

button, input, select, textarea {
    -moz-appearance: auto;
}

button {
	cursor: pointer;
	padding: 4px 6px;
}

input[type="checkbox"] {
	margin-left: 0;
}

input[type="color"] {
	border: 0;
}

input[type=text] {
	width: 100%;
	padding: 4px 6px;
}

textarea {
	box-sizing: border-box;
	font-family: monospace;
	font-size: 0.875rem;
	min-height: 120px;
	padding: 0.5em;
	width: 100%;
}

.sr {
	display: none;
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 0;
	z-index: -1;
}

section ~ section {
	border-top: 1px solid #75747A;
	margin-top: 1.5em;
	padding-top: 1.5em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	color: #75747A;
	text-align: start;
}

thead th:not(:first-child),
td:not(:first-child) {
	text-align: center;
}

tbody td:last-child {
	text-align: end;
}

th, td, tr {
  padding: 0;
}

tfoot button {
	margin-top: 1em;
}

p:empty {
	margin: 0;
}

.buttons {
	align-items: center;
	display: flex;
	gap: 1em;
}